.leftMenuDiv {
    position: absolute;
    left: 0;
    top: 0;
    cursor: auto;
}

.selectionDiv {
    width: 200px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 2px;
    background-color: white;
}

.execDiv {
    width: 200px;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

.inputDiv {
    padding-bottom: 5px;
    margin-top: 2px;
}

.inputDiv p {
    margin: 0;
    border: 0;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font: 20px arial;
    display: inline;
}

.inputDiv input {
    font: 20px arial;
    margin-left: 2px;
    width: 27.3%;
}

.inputDiv input:last-child {
    margin-left: 0px;
}

select {
    font: 20px arial;
    width: 99%;
    margin-top: 2px;
    margin-left: 2px;
}

.variableMenu {
    width: 200px;
    max-height: 290px;
    display: inline-block;
}

.variablesButton {
    cursor: pointer;
    font-size: 20px;
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 2px;
}

.variableButtonDiv {
    background-color: white;
}

.variableButtonDiv p,
.selectionDiv p,
.execDiv p {
    margin: 0;
    border: 0;
    padding-top: 2%;
    padding-left: 2%;
    font: 20px arial;
}

.variableButtonDiv ul {
    overflow: auto;
    margin: 0;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    list-style: none;
    max-height: 150px;
    width: 100%;
    white-space: nowrap;
    font-size: 20px;
}

.buttonDiv {
    display: flex;
    float: right;
    background-color: white;
}

.buttonDiv button {
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
}

.buttonDiv button:last-child {
    margin-right: 0px;
}